{%  extends "base.html" %}
{% load static%}

{% block headercss %}
        <link type="text/css" href="{% static "vendor/plyr/plyr.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

         <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content pb-0">
            <div class="navbar navbar-submenu navbar-dark border-0 navbar-expand">
                <div class="container">
                    <div class="media flex-nowrap">
                        <div class="media-left mr-16pt">
                            <a href="{% url "course_detail" slug=course.slug %}"><img src="{{ course.thumbnail.url }}" width="40"
                                                       alt="Angular" class="rounded"></a>
                        </div>
                        <div class="media-body">
                            <a href="{% url "course_detail" slug=course.slug %}" class="card-title text-body mb-0">{{ course.title }}</a>
                            <p class="lh-1 d-flex align-items-center mb-0">
                                 {% for author in course.authors.all %}
                                <span class="text-50 small font-weight-bold mr-8pt">{{ author.get_full_name }}</span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gradient-primary pb-lg-64pt py-32pt">
                <div class="container">
                    <div class="js-player embed-responsive embed-responsive-16by9 mb-32pt"
                         data-domfactory-upgraded="player">
                        <div class="player embed-responsive-item">
                            {% if item.is_free or enrolled %}
                            <video id="player" playsinline controls>
                                <source src="{{ item.public_url }}" type="video/mp4"/>

                                <!-- Captions are optional -->
                            </video>
                            {% else %}
                                <div class="player__image"> برای پخش این ویدیو بایستی در دوره عضو شوید</div>
                            {% endif %}
                            <div class="player__embed d-none">
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap align-items-end mb-16pt">
                        <h1 class="text-white flex m-0">{{ item.title}}</h1>
                        <p class="h1 text-white-50 font-weight-light m-0">{{ item.duration }}</p>
                    </div>

                    <p class="hero__lead measure-hero-lead text-white-50 mb-24pt">{{ item.description }}</p>

                </div>
            </div>


            <div class="page-section border-bottom-2">
                <div class="container page__container">

                    <h4>سرفصل مطالب</h4>
                    <div class="card-group card-group--lg-up mb-0">
                        <div class="card col-lg-7 p-0">


                            <ul class="accordion accordion--boxed js-accordion list-group-flush" id="course-toc">

                                {% for section in course.coursesection_set.all %}
                                <li class="accordion__item open">
                                    <a class="accordion__toggle" data-toggle="collapse" data-parent="#course-toc" href="#course-toc-1">
                                        <span class="flex">{{ section.title }}</span>
                                        <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                                    </a>
                                    <div class="accordion__menu">
                                        <ul class="list-unstyled collapse show" id="course-toc-1">
                                            {% for item in section.coursesectionitem_set.all %}
                                                {% if item.is_free or enrolled %}
                                                    <li class="accordion__menu-link active">
                                                        <span class="material-icons icon-16pt icon--left text-primary"> play_circle_outline </span>
                                                        <a class="flex"  href="{% url "lesson" course=course.slug item=item.slug %}">{{ item.title }}</a>
                                                        <span class="text-muted">{{ item.duration }}</span>
                                                    </li>
                                                {% else %}
                                                     <li class="accordion__menu-link active">
                                                        <span class="material-icons icon-16pt icon--left text-muted"> lock </span>
                                                        <a class="flex" href="{% url "lesson" course=course.slug item=item.slug %}">{{ item.title }}</a>
                                                        <span class="text-muted">{{ item.duration }}</span>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                     <div class="card col-lg-5 p-0 mb-0 justify-content-center border-left-lg">
                            <div class="card-body flex-0 text-center">
                                {% if user.is_authenticated %}
                                    {% if enrolled %}
                                          <div>
                                                <i class="material-icons text-muted">timer</i>
                                            </div>
                                            <h4 class="my-8pt"><strong>دسترسی به دوره ها</strong></h4>
                                            <p class="text-70 mb-24pt">شما در این دوره عضو هستید</p>

                                    {% else %}
                                        {% if object.is_free %}
                                            <div>
                                                <i class="material-icons text-muted">timer</i>
                                            </div>
                                            <h4 class="my-8pt"><strong>دسترسی به دوره ها</strong></h4>
                                            <p class="text-70 mb-24pt">با عضویت در این دوره می توانید به متریال های دوره
                                                دسترسی داشته باشید و از به روزرسانی های آن با خبر شوید</p>
                                            <a href="{% url "enrollment" course=object.slug %}"
                                               class="btn btn-primary mb-8pt">عضویت در
                                                دوره</a>
                                        {% else %}

                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <div>
                                        <i class="material-icons text-muted">timer</i>
                                    </div>
                                    <h4 class="my-8pt"><strong>دسترسی به دوره ها</strong></h4>
                                    <p class="text-70 mb-24pt">برای عضویت در دوره ها بایستی وارد سیستم شوید</p>
                                    <a href="{% url "login" %}" class="btn btn-outline-primary mb-8pt">ورود به سایت</a>
                                    <p>حساب کاربری ندارید؟ <a href="{% url "register" %}">ثبت نام</a></p>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="bg-dark">


                <div class="page-separator-mask page-section pb-0 ">
                    <div class="container page__container">
                        <div class="row">
                            <div class="col-md-7">
                                <h4>جزییات دوره</h4>
                                {{ course.description }}
                            </div>
                            <div class="col-md-5">
                                <h4>آنچه یاد خواهید گرفت</h4>
                                {% for keypoint in object.coursekeypoint_set.all %}
                                    <li class="d-flex align-items-center">
                                        <span class="material-icons text-50 mr-8pt">check</span>
                                        <span class="text-70">{{ keypoint.title }}</span>
                                    </li>
                                   {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="page-section bg-dark border-bottom-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 mb-24pt mb-md-0">
                            <h4>درباره مدرس</h4>
                            {% for author in course.authors.all %}
                            <p class="text-70 mb-24pt">{{ author.userprofile.bio }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-md-5 border-left-md pt-sm-32pt pt-md-0 d-flex flex-column align-items-center justify-content-center">
                            <div class="text-center">
                                {% for author in course.authors.all %}
                                <h4 class="m-0">{{ author.get_full_name }}</h4>
                                <p class="lh-1">
                                    <small class="text-muted">{{ author.userprofile.job_title }}</small>
                                </p>
                                <div class="d-flex flex-column flex-sm-row align-items-center justify-content-start">
                                    <a href="instructor-profile.html" class="btn btn-outline-secondary">مشاهده پروفایل</a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <!-- // END Header Layout Content -->

    </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->
{% endblock %}



{% block footerjs %}
    <script src="{% static "vendor/plyr/plyr.polyfilled.js" %}"></script>
<script>
    const player = new Plyr('#player');
</script>
{% endblock %}