{%  extends "base.html" %}
{% load static%}

{% block content %}



        <!-- Header -->

        <div id="header" class="mdk-header bg-dark js-mdk-header mb-0" data-effects="waterfall blend-background" data-fixed data-condenses>
            <div class="mdk-header__content">

                <div data-primary class="navbar navbar-expand-sm navbar-dark bg-dark p-0" id="default-navbar">
                    <div class="container">

                        <!-- Navbar Brand -->
                        <a href="index.html" class="navbar-brand">
                            <img class="navbar-brand-icon" src="assets/images/logo/white-100@2x.png" width="30" alt="Tutorio">
                            <span class="d-none d-md-block">Tutorio</span>
                        </a>

                        <!-- Main Navigation -->
                        <ul class="nav navbar-nav ml-auto d-none d-sm-flex">
                            <li class="nav-item">
                                <a href="pricing.html" class="nav-link">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a href="register.html" class="nav-link">Signup</a>
                            </li>
                            <li class="nav-item active">
                                <a href="login.html" class="nav-link">Login</a>
                            </li>
                        </ul>
                        <!-- // END Main Navigation -->

                        <!-- Navbar toggler -->
                        <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                    </div>
                </div>

            </div>
        </div>

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content pb-0">


            <div class="bg-gradient-primary py-32pt">
                <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                    <img src="{% static "images/illustration/student/128/white.svg" %}" class="mr-md-32pt mb-32pt mb-md-0" alt="student">
                    <div class="flex mb-32pt mb-md-0">
                        <h1 class="text-white mb-0">ورود به سایت</h1>
                        <p class="lead measure-lead text-white-50">مدیریت کاربران</p>
                    </div>
                    <a href="{% url 'login' %}" class="btn btn-outline-white flex-column">
                        حساب کاربری ندارید؟
                        <span class="btn__secondary-text">ثبت نام کنید </span>
                    </a>
                </div>
            </div>
            <div class=" pt-32pt pt-sm-64pt pb-32pt">
                <div class="container page__container">
                    <form action="student-dashboard.html" class="col-md-5 p-0 mx-auto">
                        <div class="form-group">
                            <label for="email">نام کاربری:</label>
                            <input id="email" type="text" class="form-control" placeholder="نام کاربری خود را وارد کنید">
                        </div>
                        <div class="form-group">
                            <label for="password">کلمه عبور:</label>
                            <input id="password" type="password" class="form-control" placeholder="کلمه عبور خود را وارد کنید">
                            <p class="text-right"><a href="reset-password.html" class="small">Forgot your password?</a></p>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-lg btn-accent">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="page-separator m-0">
                <div class="page-separator__text">و یا از طریق موارد زیر وارد سیستم شوید</div>
                <div class="page-separator__bg-top "></div>
            </div>
            <div class="bg-body pt-32pt pb-32pt pb-md-64pt text-center">
                <div class="container page__container">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-lg btn-secondary btn-block-xs">Google</a>
                </div>
            </div>



        </div>
        <!-- // END Header Layout Content -->


{% endblock %}