{%  extends "base.html" %}
{% load static%}

{% block content %}



        <!-- Header -->

        <div id="header" class="mdk-header bg-dark js-mdk-header mb-0" data-effects="waterfall blend-background" data-fixed data-condenses>
            <div class="mdk-header__content">

                <div data-primary class="navbar navbar-expand-sm navbar-dark bg-dark p-0" id="default-navbar">
                    <div class="container">

                        <!-- Navbar Brand -->
                        <a href="{% url 'home' %}" class="navbar-brand">
                            <img class="navbar-brand-icon" src="{% static "images/logo/black-70@2x.png" %}" width="30" alt="Tutorio">
                            <span class="d-none d-md-block">DevMasters.ir</span>
                        </a>

                        <!-- Main Navigation -->
                        <ul class="nav navbar-nav ml-auto d-none d-sm-flex">
                            <li class="nav-item active">
                                <a href="{% url "register" %}" class="nav-link">ثبت نام</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url "login" %}" class="nav-link">ورود</a>
                            </li>
                        </ul>
                        <!-- // END Main Navigation -->

                        <!-- Navbar toggler -->
                        <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                    </div>
                </div>

            </div>
        </div>

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content pb-0">


            <div class="bg-gradient-primary py-32pt">
                <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                    <img src="{% static "images/illustration/student/128/white.svg" %}" class="mr-md-32pt mb-32pt mb-md-0" alt="student">
                    <div class="flex mb-32pt mb-md-0">
                        <h1 class="text-white mb-0">ثبت نام در سایت</h1>
                        <p class="lead measure-lead text-white-50">مدیریت کاربران</p>
                    </div>
                    <a href="{% url 'login' %}" class="btn btn-outline-white flex-column">
                        قبلا ثبت نام کرده اید؟
                        <span class="btn__secondary-text">وارد شوید </span>
                    </a>
                </div>
            </div>
            <div class=" pt-32pt pt-sm-64pt pb-32pt">

                <div class="container page__container">
                    <form action="{% url 'register' %}" method="post" class="col-md-5 p-0 mx-auto">
                        {% csrf_token %}

                        {% for field in form %}

                        <div class="form-group">
                           {{ field.label_tag }}
                           {{ field }}

                        </div>
                        {% endfor %}
                        <div class="text-center">
                            <input type="submit" class="btn btn-lg btn-accent" value="ثبت نام">
                        </div>
                        {% if form.errors %}

                            <br>
                            <div class="text-center alert alert-danger">
                               <p>لطفا اطلاعات خواسته شده را به درستی وارد نمایید</p>
                            </div>

                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="page-separator m-0">
                <div class="page-separator__text">و یا از طریق موارد زیر وارد سیستم شوید</div>
                <div class="page-separator__bg-top "></div>
            </div>
            <div class="bg-body pt-32pt pb-32pt pb-md-64pt text-center">
                <div class="container page__container">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-lg btn-secondary btn-block-xs">Google</a>
                </div>
            </div>



        </div>
        <!-- // END Header Layout Content -->


{% endblock %}